---
// Component imports
import Button from "../components/Button.astro";
import ExportCard from "../components/ExportCard.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";

// Stylesheet imports
import "../styles/pages/index.scss";

// Icon asset imports
import connectionIcon from "../assets/icons/connection.svg";
import fbIcon from "../assets/icons/fb-icon.svg";
import featuredIcon from "../assets/icons/featured-icon.svg";
import growthIcon from "../assets/icons/growth.svg";
import inIcon from "../assets/icons/in-icon.svg";
import jobIcon from "../assets/icons/jobs.svg";
import line from "../assets/icons/line.svg";
import locationIcon from "../assets/icons/location-icon.svg";
import mailIcon from "../assets/icons/mail-icon.svg";
import phoneIcon from "../assets/icons/phone-icon.svg";
import ytIcon from "../assets/icons/yt-icon.svg";

// Image asset imports
import coffee from "../assets/coffee.webp";
import car4 from "../assets/eado.webp";
import car2 from "../assets/estar.webp";
import livestock from "../assets/livestock.webp";
import oil from "../assets/oil-seeds.webp";
import orangeChangan from "../assets/orange-changan.webp";
import office from "../assets/pactzion-office.webp";
import aacLogo from "../assets/partner-logos/AAC.png";
import aaccbaLogo from "../assets/partner-logos/AACCBA.png";
import boaLogo from "../assets/partner-logos/BOA.png";
import ecaLogo from "../assets/partner-logos/ECA.png";
import ecxLogo from "../assets/partner-logos/ECX.png";
import etLogo from "../assets/partner-logos/ET.png";
import ahaduLogo from "../assets/partner-logos/ahadu.png";
import car1 from "../assets/s7.webp";
// import morLogo from "../assets/partner-logos/mor.png";
import pulses from "../assets/pulses.webp";
import rsBuilding from "../assets/rs-building.webp";
import car3 from "../assets/sl3.webp";
import spices from "../assets/spices.webp";
import worldMap from "../assets/world-map.webp";
import loader from "../../public/favicon.svg";
---

<Layout title="PactZion - A leading global trader in Ethiopia">
  <div class="loader">
    <Image class="loader-animation" src={loader} alt="Loader Animation" />
    <p class="counter">0</p>
    <div class="loader-overlay">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

  <Header />

  <main>
    <!-- Hero Section -->
    <section class="hero-section">
      <div class="wrapper">
        <div class="section-label hero-label">
          <Image src={featuredIcon} alt="" />
          <span>Featured Product</span>
        </div>
        <div class="car-text-box carousel swiper">
          <div class="h1-wrapper">
            <h1 class="fs-primary-header">CHANGAN</h1>
            <span class="overlay fs-primary-header">CHANGAN</span>
          </div>

          <div class="img-wrapper swiper-wrapper">
            <div class="swiper-slide">
              <Image
                class="hero-car d-s7"
                src={car1}
                alt="Changan Deepal S7"
                width="680"
                loading="eager"
              />
            </div>

            <div class="swiper-slide">
              <Image
                class="hero-car d-estar"
                src={car2}
                alt="Changan Estar"
                width="680"
              />
            </div>

            <div class="swiper-slide d-sl3">
              <Image
                class="hero-car"
                src={car3}
                alt="Changan Deppal Sl3"
                width="680"
              />
            </div>

            <div class="swiper-slide">
              <Image
                class="hero-car d-eado"
                src={car4}
                alt="Changan Eado"
                width="680"
              />
            </div>
          </div>
        </div>

        <div class="bottom-box container">
          <div class="hero-socials">
            <Image class="line-arrow" src={line} alt="" />

            <ul class="social-links" role="list">
              <li>
                <a href="#" class="yt-social"
                  ><Image src={ytIcon} alt="YouTube" />
                </a>
              </li>
              <li>
                <a href="#" class="in-social"
                  ><Image src={inIcon} alt="Linkedin" />
                </a>
              </li>
              <li>
                <a href="#" class="fb-social"
                  ><Image src={fbIcon} alt="Facebook" />
                </a>
              </li>
            </ul>

            <Image
              class="line-arrow"
              src={line}
              alt=""
              style="transform: scaleY(-1);"
            />
          </div>
          <div class="hero-cta">
            <h2 class="fs-secondary-header fw-semi-bold-100">
              Effortless Elegance on Every Road.
            </h2>
            <a href="/products/changan"
              ><Button class="btn-primary" text="Explore Changan" /></a
            >
          </div>
          <div class="pactzion-info">
            <p>
              <span style="color: #d59940; font-weight: bold;">PactZion</span> is
              the exclusive distributor of Changan Electric Vehicles in Ethiopia.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="about-section">
      <div class="container wrapper">
        <p class="section-label fs-">Who we are</p>
        <h2 class="fs-secondary-header fw-semi-bold-200 text-center">
          At the Heart of PactZion's Trade Story
        </h2>

        <div class="about-box">
          <div class="about-card card">
            <div class="abt-left">
              <div class="about-text-wrapper">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="49"
                  height="49"
                  fill="none"
                >
                  <path
                    fill="#FAE2BF"
                    fill-rule="evenodd"
                    d="M41.912 41.404c9.372-9.373 9.372-24.569 0-33.941-9.373-9.373-24.569-9.373-33.941 0-9.373 9.372-9.373 24.568 0 33.94 9.372 9.373 24.568 9.373 33.94 0ZM16.17 31.412c-.022.48.148.933.473 1.258.675.675 1.824.623 2.564-.117l10.62-10.62-.308 6.737c-.02.244.01.485.087.708a1.605 1.605 0 0 0 .938.975c.22.085.459.123.702.112a1.92 1.92 0 0 0 .715-.177 2.057 2.057 0 0 0 1.031-1.064c.098-.232.15-.476.152-.719l.507-11.113a1.657 1.657 0 0 0-.473-1.258 1.658 1.658 0 0 0-1.257-.472l-11.113.507c-.47.038-.924.256-1.266.61a1.99 1.99 0 0 0-.566 1.282c-.022.47.14.913.45 1.236a1.65 1.65 0 0 0 1.216.496l6.737-.307-10.62 10.62a1.992 1.992 0 0 0-.589 1.306Z"
                    clip-rule="evenodd"></path>
                </svg>
                <h3 class="fs-tertiary-header fw-semi-bold-200">
                  Shaping Global Trade
                </h3>
                <p>
                  PactZion is a pioneer global trader in Ethiopia, founded in
                  2017, with a vision to establish a robust network of trade
                  that introduces Ethiopian culture and products to the global
                  stage.
                </p>
              </div>

              <div class="missions-wrapper">
                <ul class="missions" role="list">
                  <li class="mission">
                    <div class="mission-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <path
                          d="M6.81499 6.37218L5.72788 6.31751C5.29431 6.29578 4.86099 6.36499 4.45576 6.52071C4.05054 6.67642 3.68237 6.9152 3.37493 7.22169L1.74742 8.84919C1.67882 8.91767 1.62818 9.00203 1.60001 9.09478C1.57184 9.18753 1.567 9.28581 1.58593 9.38087C1.60486 9.47594 1.64697 9.56487 1.70853 9.63975C1.77008 9.71463 1.84917 9.77316 1.93877 9.81014L4.37583 10.8194C4.17821 11.3823 4.0153 11.9567 3.888 12.5395C3.873 12.6083 3.87554 12.6798 3.89538 12.7474C3.91522 12.815 3.95172 12.8766 4.00154 12.9264L7.07152 15.9964C7.12134 16.0462 7.18287 16.0827 7.25048 16.1025C7.31808 16.1224 7.38958 16.1249 7.45842 16.1099C8.04117 15.9825 8.61558 15.8196 9.17845 15.6221L10.1899 18.0612C10.2268 18.1508 10.2854 18.2299 10.3603 18.2915C10.4351 18.353 10.5241 18.3951 10.6191 18.4141C10.7142 18.433 10.8125 18.4282 10.9052 18.4C10.998 18.3718 11.0823 18.3212 11.1508 18.2526L12.7783 16.6251C13.085 16.3178 13.3239 15.9496 13.4797 15.5444C13.6354 15.1391 13.7045 14.7057 13.6825 14.2721L13.6278 13.185C17.194 10.3821 19.3346 6.21448 19.9949 0.791555C20.0078 0.685186 19.9963 0.577275 19.9613 0.475991C19.9264 0.374706 19.8688 0.282699 19.7931 0.206934C19.7173 0.131168 19.6253 0.0736275 19.524 0.0386665C19.4227 0.00370546 19.3148 -0.00776033 19.2084 0.00513673C13.7855 0.665392 9.61792 2.80807 6.81499 6.37218ZM19.1391 0.860945C18.4725 6.05467 16.3866 10.0225 12.9444 12.653C12.8903 12.6945 12.8471 12.7486 12.8186 12.8105C12.79 12.8724 12.7769 12.9403 12.7804 13.0084L12.8477 14.3142C12.8636 14.6304 12.8131 14.9465 12.6993 15.242C12.5856 15.5376 12.4112 15.806 12.1874 16.03L10.827 17.3905L9.80086 14.9282C9.75883 14.8272 9.67911 14.7465 9.57862 14.7034C9.47812 14.6602 9.36475 14.6578 9.26256 14.6969C8.68838 14.916 8.10046 15.0972 7.50258 15.2394L4.76904 12.5058C4.91129 11.908 5.09251 11.3201 5.31154 10.7459C5.35056 10.6437 5.34824 10.5303 5.30505 10.4298C5.26187 10.3293 5.18123 10.2496 5.08024 10.2076L2.62006 9.18563L3.98052 7.82517C4.20461 7.60148 4.47305 7.42717 4.76856 7.31346C5.06406 7.19975 5.3801 7.14915 5.69634 7.16491L7.00213 7.2322C7.06956 7.23256 7.13609 7.2167 7.19611 7.18596C7.25612 7.15522 7.30787 7.1105 7.34698 7.05557C9.97749 3.61341 13.9453 1.52751 19.1391 0.860945ZM13.8213 8.26464C14.304 8.26507 14.7719 8.09806 15.1453 7.79208C15.5187 7.48609 15.7744 7.06008 15.8688 6.58667C15.9632 6.11325 15.8905 5.62175 15.663 5.19595C15.4356 4.77015 15.0675 4.43642 14.6215 4.25166C14.1755 4.0669 13.6793 4.04254 13.2174 4.18274C12.7554 4.32294 12.3564 4.61902 12.0884 5.0205C11.8203 5.42197 11.6998 5.90399 11.7474 6.38438C11.795 6.86476 12.0077 7.31377 12.3494 7.65485C12.5426 7.84825 12.772 8.00165 13.0246 8.10629C13.2772 8.21092 13.5479 8.26473 13.8213 8.26464ZM12.9444 5.29769C13.1483 5.09439 13.4164 4.96805 13.703 4.94021C13.9896 4.91236 14.2769 4.98472 14.5162 5.14497C14.7554 5.30522 14.9317 5.54345 15.015 5.81907C15.0983 6.0947 15.0834 6.39068 14.973 6.65659C14.8626 6.92251 14.6634 7.14192 14.4093 7.27746C14.1553 7.413 13.8621 7.45628 13.5797 7.39992C13.2974 7.34357 13.0433 7.19107 12.8607 6.96841C12.6782 6.74574 12.5785 6.46667 12.5786 6.17873C12.5783 6.01498 12.6105 5.8528 12.6733 5.70157C12.7361 5.55034 12.8282 5.41307 12.9444 5.29769ZM0.57831 19.9999C3.94267 19.9411 5.58279 18.1622 6.13371 17.3989C6.19591 17.312 6.23006 17.2082 6.23157 17.1014C6.23307 16.9946 6.20186 16.8898 6.14212 16.8013C6.08239 16.7127 5.99699 16.6445 5.89738 16.6059C5.79777 16.5672 5.68873 16.56 5.5849 16.5851C5.14389 16.6998 4.68536 16.7312 4.23284 16.6776C3.99955 16.6493 3.78249 16.5436 3.61631 16.3774C3.45013 16.2112 3.34442 15.9941 3.31606 15.7608C3.26557 15.31 3.29908 14.8537 3.41488 14.4151C3.4412 14.311 3.43484 14.2012 3.39668 14.1008C3.35852 14.0004 3.29039 13.9142 3.20155 13.8538C3.11271 13.7934 3.00744 13.7618 2.90003 13.7633C2.79263 13.7648 2.68827 13.7993 2.60113 13.8621C1.83994 14.4151 0.0589373 16.0531 6.10085e-05 19.4112C-0.00105177 19.4879 0.0130681 19.5641 0.0416032 19.6354C0.0701384 19.7066 0.112522 19.7715 0.166301 19.8262C0.22008 19.881 0.284185 19.9246 0.354907 19.9544C0.425629 19.9842 0.501561 19.9997 0.57831 19.9999ZM2.47076 15.0943C2.45698 15.3504 2.46542 15.6072 2.49599 15.8618C2.54698 16.2818 2.73728 16.6727 3.03649 16.9719C3.33571 17.2711 3.72657 17.4614 4.14663 17.5124C4.40126 17.5429 4.65805 17.5513 4.91413 17.5376C4.1992 18.221 2.92074 19.0453 0.857972 19.1483C0.958903 17.0877 1.78107 15.8071 2.46235 15.0922L2.47076 15.0943Z"
                          fill="#FAE2BF"></path>
                      </svg>
                    </div>
                    <p class="fw-semi-bold-100">
                      Delivering results that go beyond expectation
                    </p>
                  </li>
                  <li class="mission">
                    <div class="mission-icon">
                      <svg
                        xmlns="http://www.w3.org/1000/svg"
                        width="20"
                        height="21"
                        viewBox="0 0 20 21"
                        fill="none"
                      >
                        <path
                          d="M16.9063 14.1624H16.8178V12.3459C16.8178 11.7857 16.3621 11.33 15.8019 11.33H13.6692C13.4947 11.33 13.3531 11.4716 13.3531 11.6461V12.0507C13.3531 12.5459 12.9502 12.9485 12.4553 12.9485C11.9603 12.9485 11.5575 12.5459 11.5575 12.0507V11.6461C11.5575 11.4716 11.4159 11.33 11.2414 11.33H9.10866C8.91064 11.33 8.72577 11.3871 8.56948 11.4855C8.66786 11.3292 8.72501 11.1443 8.72501 10.9463V8.81363C8.72501 8.63913 8.58339 8.4975 8.40889 8.4975H8.00425C7.50933 8.4975 7.10646 8.09489 7.10646 7.59971C7.10646 7.10454 7.50933 6.70192 8.00425 6.70192H8.40889C8.58339 6.70192 8.72501 6.5603 8.72501 6.3858V4.2531C8.72501 3.69293 8.26929 3.23721 7.70912 3.23721H5.89254V3.14869C5.89254 2.30502 5.20618 1.61865 4.36251 1.61865C3.51883 1.61865 2.83247 2.30502 2.83247 3.14869V3.23721H1.01589C0.455724 3.23721 0 3.69293 0 4.2531V6.3858C0 6.5603 0.141623 6.70192 0.316124 6.70192H0.720762C1.21568 6.70192 1.61855 7.10454 1.61855 7.59971C1.61855 8.09489 1.21568 8.4975 0.720762 8.4975H0.316124C0.141623 8.4975 0 8.63913 0 8.81363V10.9463C0 11.2174 0.106976 11.4638 0.280465 11.6461C0.106976 11.8284 0 12.0748 0 12.3459V14.4786C0 14.6531 0.141623 14.7947 0.316124 14.7947H0.720762C1.21568 14.7947 1.61855 15.1973 1.61855 15.6925C1.61855 16.1877 1.21568 16.5903 0.720762 16.5903H0.316124C0.141623 16.5903 0 16.7319 0 16.9064V19.0391C0 19.5993 0.455724 20.055 1.01589 20.055H3.14859C3.32309 20.055 3.46471 19.9134 3.46471 19.7389V19.3342C3.46471 18.839 3.86758 18.4364 4.36251 18.4364C4.85743 18.4364 5.2603 18.839 5.2603 19.3342V19.7389C5.2603 19.9134 5.40192 20.055 5.57642 20.055H8.40889H15.8019C16.3621 20.055 16.8178 19.5993 16.8178 19.0391V17.2225H16.9063C17.75 17.2225 18.4363 16.5361 18.4363 15.6925C18.4363 14.8488 17.75 14.1624 16.9063 14.1624ZM0.632247 9.12975H0.720762C1.56443 9.12975 2.2508 8.44338 2.2508 7.59971C2.2508 6.75604 1.56443 6.06967 0.720762 6.06967H0.632247V4.2531C0.632247 4.04142 0.804471 3.86945 1.01589 3.86945H3.14859C3.32309 3.86945 3.46471 3.72783 3.46471 3.55333V3.14869C3.46471 2.65351 3.86758 2.2509 4.36251 2.2509C4.85743 2.2509 5.2603 2.65351 5.2603 3.14869V3.55333C5.2603 3.72783 5.40192 3.86945 5.57642 3.86945H7.70912C7.92079 3.86945 8.09276 4.04168 8.09276 4.2531V6.06967H8.00425C7.16058 6.06967 6.47421 6.75604 6.47421 7.59971C6.47421 8.44338 7.16058 9.12975 8.00425 9.12975H8.09276V10.9463C8.09276 11.158 7.92054 11.33 7.70912 11.33H5.57642C5.40192 11.33 5.2603 11.4716 5.2603 11.6461V12.0507C5.2603 12.5459 4.85743 12.9485 4.36251 12.9485C3.86758 12.9485 3.46471 12.5459 3.46471 12.0507V11.6461C3.46471 11.4716 3.32309 11.33 3.14859 11.33H1.01589C0.804218 11.33 0.632247 11.1577 0.632247 10.9463V9.12975ZM8.09276 16.9064V19.4227H5.89254V19.3342C5.89254 18.4905 5.20618 17.8042 4.36251 17.8042C3.51883 17.8042 2.83247 18.4905 2.83247 19.3342V19.4227H1.01589C0.804218 19.4227 0.632247 19.2505 0.632247 19.0391V17.2225H0.720762C1.56443 17.2225 2.2508 16.5361 2.2508 15.6925C2.2508 14.8488 1.56443 14.1624 0.720762 14.1624H0.632247V12.3459C0.632247 12.1342 0.804471 11.9622 1.01589 11.9622H2.83247V12.0507C2.83247 12.8944 3.51883 13.5808 4.36251 13.5808C5.20618 13.5808 5.89254 12.8944 5.89254 12.0507V11.9622H7.70912C7.92079 11.9622 8.09276 12.1344 8.09276 12.3459V14.4786C8.09276 14.6531 8.23439 14.7947 8.40889 14.7947H8.81353C9.30845 14.7947 9.71132 15.1973 9.71132 15.6925C9.71132 16.1877 9.30845 16.5903 8.81353 16.5903H8.40889C8.23439 16.5903 8.09276 16.7319 8.09276 16.9064ZM16.9063 16.5903H16.5017C16.3272 16.5903 16.1855 16.7319 16.1855 16.9064V19.0391C16.1855 19.2508 16.0133 19.4227 15.8019 19.4227H8.72501V17.2225H8.81353C9.6572 17.2225 10.3436 16.5361 10.3436 15.6925C10.3436 14.8488 9.6572 14.1624 8.81353 14.1624H8.72501V12.3459C8.72501 12.1342 8.89724 11.9622 9.10866 11.9622H10.9252V12.0507C10.9252 12.8944 11.6116 13.5808 12.4553 13.5808C13.2989 13.5808 13.9853 12.8944 13.9853 12.0507V11.9622H15.8019C16.0136 11.9622 16.1855 12.1344 16.1855 12.3459V14.4786C16.1855 14.6531 16.3272 14.7947 16.5017 14.7947H16.9063C17.4012 14.7947 17.8041 15.1973 17.8041 15.6925C17.8041 16.1877 17.4012 16.5903 16.9063 16.5903Z"
                          fill="#FAE2BF"></path>
                        <path
                          d="M19.4658 3.2943L17.588 2.28347C17.5141 2.24376 17.4276 2.23491 17.3472 2.25894C17.2668 2.28296 17.1995 2.33809 17.1598 2.41194L16.9681 2.76828C16.8543 2.97945 16.6654 3.13371 16.4358 3.2025C16.2061 3.27154 15.9634 3.24676 15.7522 3.13321C15.541 3.0194 15.3868 2.83049 15.318 2.60086C15.2489 2.37122 15.2737 2.12844 15.3873 1.91727L15.579 1.56094C15.6617 1.40717 15.6042 1.21548 15.4505 1.13278L13.5727 0.121941C13.3337 -0.00678457 13.0591 -0.0346034 12.7991 0.0432894C12.5391 0.121182 12.3252 0.295935 12.1964 0.534925L11.3353 2.13426L11.2574 2.09228C10.8975 1.89856 10.4838 1.85657 10.0923 1.97392C9.70083 2.09126 9.37863 2.35428 9.18491 2.71415C8.78508 3.45692 9.06403 4.38683 9.80679 4.78666L9.88468 4.82864L9.02356 6.42797C8.75802 6.92113 8.9434 7.53871 9.43655 7.80425L11.0359 8.66537L10.9939 8.74326C10.8002 9.10314 10.7582 9.51688 10.8755 9.90837C10.9929 10.2999 11.2559 10.622 11.6158 10.8158C12.3585 11.2156 13.2885 10.9367 13.6883 10.1939L13.7303 10.116L15.3296 10.9771C15.4798 11.058 15.644 11.099 15.8099 11.099C15.908 11.099 16.0066 11.0846 16.1032 11.0558C16.3632 10.9779 16.5771 10.8031 16.7059 10.5644L17.7167 8.68661C17.7564 8.61277 17.7653 8.52628 17.7412 8.44585C17.7172 8.36543 17.6621 8.29816 17.5882 8.25846L17.2319 8.06676C16.7959 7.83207 16.6323 7.28657 16.867 6.85057C17.1017 6.41457 17.6472 6.25095 18.0832 6.48564L18.4395 6.67733C18.5133 6.71704 18.5998 6.72589 18.6803 6.70186C18.7607 6.67784 18.8279 6.62271 18.8677 6.54886L19.8785 4.67109C20.1443 4.17717 19.9589 3.55985 19.4658 3.2943ZM19.3219 4.37064L18.4607 5.97023L18.3828 5.92825C17.6401 5.52816 16.7102 5.80736 16.3103 6.55012C15.9105 7.29289 16.1895 8.2228 16.9322 8.62263L17.0101 8.66461L16.149 10.2639C16.0486 10.4503 15.8154 10.5201 15.6293 10.42L13.7515 9.40915C13.7037 9.3836 13.6526 9.37121 13.602 9.37121C13.4895 9.37121 13.3805 9.4314 13.3234 9.53762L13.1317 9.89395C12.897 10.33 12.3515 10.4936 11.9155 10.2589C11.4795 10.0242 11.3158 9.47869 11.5505 9.0427L11.7422 8.68636C11.7819 8.61252 11.7908 8.52602 11.7668 8.4456C11.7427 8.36518 11.6876 8.29791 11.6138 8.2582L9.73598 7.24737C9.54959 7.14697 9.47979 6.91379 9.57994 6.72766L10.5908 4.84989C10.6305 4.77604 10.6393 4.68955 10.6153 4.60913C10.5913 4.5287 10.5362 4.46143 10.4623 4.42173L10.106 4.23003C9.8948 4.11648 9.74053 3.92731 9.67174 3.69768C9.6027 3.46805 9.62749 3.22526 9.74104 3.01409C9.85459 2.80292 10.0438 2.64865 10.2734 2.57987C10.503 2.51082 10.7458 2.53561 10.957 2.64916L11.3133 2.84086C11.3872 2.88056 11.4736 2.88941 11.5541 2.86539C11.6345 2.84136 11.7018 2.78623 11.7415 2.71238L12.7523 0.83461C12.8009 0.744325 12.8818 0.678319 12.9799 0.648982C13.078 0.619646 13.182 0.630015 13.272 0.678571L14.8713 1.53969L14.8294 1.61759C14.6356 1.97746 14.5937 2.3912 14.711 2.78269C14.8284 3.17418 15.0914 3.49637 15.4512 3.69009C16.194 4.08992 17.1237 3.81098 17.5237 3.06821L17.5657 2.99032L19.1651 3.85144C19.3522 3.95134 19.4223 4.18451 19.3219 4.37064Z"
                          fill="#FAE2BF"></path>
                      </svg>
                    </div>
                    <p class="fw-semi-bold-100">
                      Achieving common goals through collaboration
                    </p>
                  </li>
                  <li class="mission">
                    <div class="mission-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="26"
                        height="16"
                        viewBox="0 0 26 16"
                        fill="none"
                      >
                        <path
                          d="M25.987 7.73916L23.5447 0.862991C23.5173 0.755505 23.4476 0.664181 23.3527 0.610842C23.2574 0.557503 23.1446 0.546997 23.0415 0.58094L18.5427 2.39043C17.7801 1.95321 14.8916 0.321787 13.9858 0.167427C13.8361 0.141835 13.6754 0.128904 13.5086 0.128904C12.7213 0.128904 11.9655 0.414457 11.765 0.496082C11.2999 0.552115 8.83888 0.879963 7.18207 1.72827C5.73861 0.966437 4.59084 0.0898427 4.57901 0.0809529C4.49167 0.0141442 4.38118 -0.013603 4.27437 0.00633181C4.16704 0.0254585 4.07233 0.0893038 4.01262 0.182243L0.0650047 6.32595C-0.0515349 6.50725 -0.00733929 6.7505 0.165234 6.87685L5.14618 10.5198C4.97414 10.9301 4.96519 11.3423 5.1254 11.7154C5.40057 12.3568 6.08718 12.7191 6.451 12.8718C6.73012 14.0256 7.44435 14.2056 7.86184 14.2056C8.0018 14.2056 8.13281 14.1857 8.24698 14.1582C8.64553 15.0617 9.19481 15.2646 9.60757 15.2643C9.81987 15.2643 10.0095 15.2093 10.1603 15.1436C10.4062 15.4254 10.8437 15.7998 11.4801 15.8812C11.5467 15.8898 11.6095 15.8936 11.6682 15.8936C12.0536 15.8936 12.2917 15.7266 12.4235 15.5862C12.6031 15.395 12.6789 15.1587 12.7105 14.9787L13.5894 15.6099L13.6131 15.6255C13.6904 15.6732 14.2436 16 14.8321 16C15.0084 16 15.1881 15.9709 15.3585 15.8955C15.5642 15.805 15.8189 15.6188 15.9846 15.2355C16.32 15.253 16.8325 15.2169 17.2647 14.9092C17.593 14.676 17.8166 14.3365 17.9313 13.8982C18.2652 13.8686 18.7666 13.7581 19.1604 13.3899C19.4532 13.1159 19.6358 12.7549 19.7052 12.3126C20.0567 12.3072 20.5526 12.2272 20.9306 11.8781C21.2918 11.5448 21.4612 11.0554 21.4401 10.4261L25.7821 8.20278C25.9489 8.11766 26.0344 7.92397 25.987 7.73916ZM5.84726 11.3889C5.77097 11.2103 5.78307 11.0238 5.88541 10.8021C6.1319 10.2679 6.42654 9.9487 6.67382 9.9487C6.82219 9.9487 7.00187 10.0602 7.19365 10.2655C6.89165 10.6502 6.50493 11.259 6.40128 11.9435C6.17347 11.8053 5.94486 11.6178 5.84726 11.3889ZM7.18023 12.4996L7.17997 12.4971C7.07316 11.8958 7.43725 11.2652 7.74031 10.8609L8.01074 10.5993C8.18331 10.4325 8.55398 10.168 8.81442 10.168C9.04039 10.168 9.16035 10.4745 9.22507 10.7887C8.8886 11.1984 8.08466 12.2924 8.07519 13.3686C8.01074 13.3848 7.93787 13.3972 7.86158 13.3972C7.73136 13.3974 7.33492 13.3974 7.18023 12.4996ZM9.60757 14.4564C9.25348 14.4567 9.01698 14.0011 8.87466 13.5898L8.87729 13.5892C8.73471 12.7867 9.52391 11.6636 9.89274 11.2329C9.95456 11.2046 10.0803 11.1569 10.2276 11.1569C10.4649 11.1569 10.6717 11.2921 10.8469 11.5537C10.6775 11.6424 10.522 11.7714 10.3849 11.9395C9.92588 12.5031 9.71517 13.4734 9.83249 14.406C9.7641 14.4335 9.68702 14.4564 9.60757 14.4564ZM11.9697 14.7358C11.9697 14.7993 11.9365 14.9542 11.866 15.0278C11.8521 15.0421 11.8034 15.0857 11.6742 15.0857C11.6461 15.0857 11.6127 15.0835 11.5809 15.0798C11.0468 15.0113 10.7222 14.5862 10.6354 14.4572C10.5033 13.714 10.6525 12.8729 10.9916 12.457C11.1215 12.2972 11.2625 12.2197 11.4233 12.2194C11.4761 12.2218 11.8876 12.263 12.0967 12.9831L11.9586 14.6878L11.9697 14.7142V14.7358ZM20.4042 11.276C20.1779 11.4861 19.8096 11.5155 19.5755 11.5033L16.5678 8.70978C16.4069 8.56053 16.1569 8.57239 16.0104 8.73779C15.8639 8.90293 15.8762 9.15885 16.0378 9.30863L18.9394 12.0041C18.9194 12.346 18.8195 12.6132 18.6314 12.7905C18.3814 13.0262 18.0316 13.0841 17.8216 13.0968L14.9963 10.3334C14.8384 10.1796 14.589 10.1852 14.4383 10.3466C14.2878 10.5082 14.2936 10.7639 14.4512 10.918L17.1861 13.593C17.1258 13.8899 17.0074 14.107 16.8178 14.2433C16.6318 14.3767 16.4069 14.4192 16.2151 14.4286C16.2048 14.4157 16.1996 14.4004 16.1877 14.3888L13.7275 11.9988C13.5697 11.8455 13.3197 11.8517 13.1695 12.0138C13.0196 12.1757 13.0262 12.4314 13.1843 12.5849L15.333 14.6724L15.3256 14.7072C15.248 15.0644 15.0976 15.1312 15.0478 15.153C14.74 15.2904 14.2073 15.0442 14.0295 14.9394L12.7939 14.0523L12.8951 12.9117L12.8775 12.8428C12.6442 11.9392 12.1125 11.5658 11.6984 11.4522C11.2489 10.4983 10.5936 10.349 10.2279 10.349C10.1234 10.349 10.0251 10.3603 9.93588 10.3778C9.67386 9.50448 9.13878 9.36035 8.81442 9.36035C8.42771 9.36035 8.05415 9.56266 7.79766 9.74342C7.43567 9.34338 7.05869 9.14107 6.67409 9.14107C6.25739 9.14107 5.87515 9.37598 5.54552 9.81939L0.932869 6.44529L4.44589 0.977212C4.93152 1.32365 5.88646 1.96991 7.00766 2.54371C7.12315 2.60298 7.25968 2.60055 7.37306 2.53698C8.22856 2.05908 9.41553 1.74255 10.3628 1.54778C10.1213 1.77595 9.84617 2.05073 9.53049 2.38801C8.24119 3.7662 8.80284 4.60185 8.88492 4.70988C9.20192 5.08648 9.63598 5.28556 10.1403 5.28529C11.2465 5.28529 12.4682 4.32411 12.8207 4.02563L13.7759 3.91706C14.4259 6.21442 16.9553 7.20065 17.4981 7.38761L20.5889 10.5524C20.6067 10.5707 20.6296 10.5801 20.6499 10.5939C20.6399 10.9007 20.5594 11.1313 20.4042 11.276ZM20.9464 9.77521L17.9895 6.74754C17.9432 6.70013 17.8864 6.66538 17.8237 6.64625C17.7945 6.63709 14.8913 5.71982 14.467 3.40172C14.4315 3.20884 14.267 3.07199 14.0792 3.07199C14.0647 3.07199 14.0503 3.07279 14.0353 3.07441L12.6142 3.23605C12.5334 3.2452 12.4571 3.27996 12.3961 3.33491C12.0449 3.65252 10.9547 4.47712 10.1403 4.47712C9.87327 4.47712 9.67044 4.39146 9.50497 4.20773C9.47735 4.13635 9.36923 3.72822 10.1003 2.94699C11.4341 1.52165 11.9991 1.27031 11.9978 1.27031C12.0065 1.26735 12.0149 1.26384 12.0233 1.26007C12.0307 1.25684 12.7694 0.936534 13.5081 0.936534C13.6317 0.936534 13.7485 0.945694 13.8556 0.964012C14.4999 1.07392 16.8696 2.35002 18.3052 3.18082C18.4012 3.23685 18.5161 3.24844 18.6208 3.21369L22.887 1.48151L25.1423 7.6271L20.9464 9.77521Z"
                          fill="#FAE2BF"></path>
                      </svg>
                    </div>
                    <p class="fw-semi-bold-200">
                      Committing to our stakeholders' success
                    </p>
                  </li>
                </ul>
                <a href="/about">
                  <Button class="btn-primary" text="Our Mission" />
                </a>
              </div>
            </div>
            <div class="abt-right">
              <Image src={office} alt="Pactzion Office" />
            </div>
          </div>

          <div class="contact-card card">
            <div class="contact-top-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="49"
                height="49"
                fill="none"
              >
                <path
                  fill="#00171F"
                  fill-rule="evenodd"
                  d="M41.912 41.404c9.372-9.373 9.372-24.569 0-33.941-9.373-9.373-24.569-9.373-33.941 0-9.373 9.372-9.373 24.568 0 33.94 9.372 9.373 24.568 9.373 33.94 0ZM16.17 31.412c-.022.48.148.933.473 1.258.675.675 1.824.623 2.564-.117l10.62-10.62-.308 6.737c-.02.244.01.485.087.708a1.605 1.605 0 0 0 .938.975c.22.085.459.123.702.112a1.92 1.92 0 0 0 .715-.177 2.057 2.057 0 0 0 1.031-1.064c.098-.232.15-.476.152-.719l.507-11.113a1.657 1.657 0 0 0-.473-1.258 1.658 1.658 0 0 0-1.257-.472l-11.113.507c-.47.038-.924.256-1.266.61a1.99 1.99 0 0 0-.566 1.282c-.022.47.14.913.45 1.236a1.65 1.65 0 0 0 1.216.496l6.737-.307-10.62 10.62a1.992 1.992 0 0 0-.589 1.306Z"
                  clip-rule="evenodd"></path>
              </svg>
              <h3 class="fs-tertiary-header fw-semi-bold-200">Let's Connect</h3>
            </div>

            <div class="contact-bottom-wrapper">
              <p>
                Uniting Ethiopia and the world, PactZion is your trusted trade
                partner. A brief message is all it takes to join our global
                journey.
              </p>

              <a href="/contact">
                <Button class="btn-tertiary btn-dark" text="Contact Us" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="what-we-do-section">
      <div class="container wrapper">
        <p
          class="section-label fs-"
          style="color: rgba(255, 255, 255, 0.72); text-align: left;"
        >
          What we do
        </p>
        <h2 class="fs-secondary-header fw-semi-bold-100">
          At PactZion, we specialize in revolutionizing commerce through
          innovative solutions tailored to meet the diverse needs of businesses
          worldwide. Our mission is to empower companies by facilitating
          seamless trade processes, identifying optimal commodities, and
          fostering mutually beneficial partnerships.
        </h2>
      </div>
    </section>

    <section class="business-portfolio import-section">
      <div class="container wrapper">
        <p class="section-label fs-secondary-header fw-semi-bold-100">
          Business Portfolio
        </p>
        <h2 class="fs-secondary-header fw-semi-bold-200 text-center">
          Import items and local businesses
        </h2>

        <!-- Slider main container -->
        <div class="swiper swiper-portfolio">
          <div class="swiper-wrapper portfolio-wrapper">
            <div class="swiper-slide portfolio-card card-car">
              <div class="business-info">
                <h3 class="fs-tertiary-header fw-semi-bold-100">
                  Changan Drives
                </h3>
                <p>
                  Your journey, our innovation. Explore a world of Changan
                  Electric Vehicles
                </p>
                <a href="/products/changan">
                  <Button
                    text="Drive The Future"
                    class="nav-button | btn-tertiary btn-white"
                  />
                </a>
              </div>

              <img
                src={orangeChangan.src}
                alt="Changan Vehicle"
                class="card-img"
                width="800px"
                style="height: unset;"
              />
            </div>

            <div class="swiper-slide portfolio-card card-rs">
              <div class="business-info">
                <h3 class="fs-tertiary-header fw-semi-bold-100">Real Estate</h3>
                <p>
                  Transforming spaces into homes. Explore our real estate
                  offerings that redefine modern living with style and comfort.
                </p>
                <a href="/contact">
                  <Button
                    text="Live Your Dream"
                    class="nav-button | btn-tertiary btn-white"
                  />
                </a>
              </div>

              <img
                src={rsBuilding.src}
                alt="Changan Vehicle"
                class="card-img"
                width="700px"
              />
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <section class="business-portfolio export-section">
      <div class="container wrapper">
        <h2 class="fs-secondary-header fw-semi-bold-200 text-center">
          Export items
        </h2>

        <ul class="export-items-grid" role="list">
          <ExportCard
            class="export-item"
            bgImg={coffee.src}
            itemName="Coffee"
            url="/products/exports/coffee/#exports"
          />
          <ExportCard
            class="export-item"
            bgImg={spices.src}
            itemName="Spices"
            url="/products/exports/spices/#exports"
          />
          <ExportCard
            class="export-item"
            bgImg={oil.src}
            itemName="Oil Seeds"
            url="/products/exports/seeds/#exports"
          />
          <ExportCard
            class="export-item"
            bgImg={livestock.src}
            itemName="Livestock"
            url="/products/exports/livestock/#exports"
          />
          <ExportCard
            class="export-item"
            bgImg={pulses.src}
            itemName="Pulses"
            url="/products/exports/pulses/#exports"
          />
        </ul>
      </div>
    </section>

    <section class="partners-section">
      <div class="container">
        <div class="wrapper">
          <p class="section-label fs-secondary-header fw-semi-bold-100">
            Partners
          </p>
          <h3 class="fs-tertiary-header fw-semi-bold-100 text-center">
            We've partnered with industry giants to redefine standards and drive
            economic empowerment.
          </h3>

          <div class="partners-logo">
            <ul class="logos-slider-wrapper" role="list">
              <li class="company-logo">
                <Image src={ahaduLogo} alt="Ahadu logo" />
              </li>
              <li class="company-logo">
                <Image src={boaLogo} alt="BoA logo" />
              </li>
              <li class="company-logo">
                <Image src={ecaLogo} alt="ECA logo" />
              </li>
              <li class="company-logo">
                <Image src={aacLogo} alt="AAC logo" />
              </li>
              <li class="company-logo">
                <Image src={ecxLogo} alt="ECX logo" />
              </li>
              <li class="company-logo">
                <Image src={etLogo} alt="ET logo" />
              </li>
              <!-- <li class="company-logo">
                <Image src={morLogo} alt="MOR logo" />
              </li> -->
              <li class="company-logo">
                <Image src={aaccbaLogo} alt="AACCBA logo" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="work-areas-section">
      <div class="container wrapper text-center">
        <p class="section-label fs-secondary-header fw-semi-bold-100">
          Where we operate
        </p>
        <h2 class="fs-secondary-header fw-semi-bold-200">
          A world of Possibilities, beyond borders.
        </h2>
        <p class="work-area-text">
          Behind the scenes, our global partnerships are the driving force,
          turning challenges into shared successes worldwide.
        </p>
        <Image src={worldMap} alt="Where we operate" class="world-map" />
      </div>
    </section>

    <section class="cta-section">
      <div class="container wrapper">
        <p class="section-label fs-secondary-header fw-semi-bold-100">
          Let's work together
        </p>
        <h2 class="fs-secondary-header fw-semi-bold-100">
          Ready to bring a positive change to the world? Join us in shaping a
          global trade landscape that stands out. Your journey with PactZion
          awaits!
        </h2>
        <a href="/contact"><Button class="btn-secondary" text="Join the Movement" /></a>
      </div>
    </section>

    <section class="contact-section">
      <div class="container wrapper">
        <div class="contact-box">
          <div class="contact-form">
            <p class="section-label fs-secondary-header fw-semi-bold-100">
              Let's talk!
            </p>
            <h2 class="fs-secondary-header fw-semi-bold-100">
              Come visit us at our office or write us an email.
            </h2>

            <form action="https://formsubmit.co/info@pactzion.com">
              <div class="contact-field">
                <label for="name">Name</label>
                <input id="name" type="text" required />
              </div>

              <div class="contact-field">
                <label for="email">Email</label>
                <input id="email" type="email" required />
              </div>

              <div class="contact-field">
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="7"
                ></textarea>
              </div>

              <Button class="btn-primary submit" text="Send Message" />
            </form>
          </div>
          <div class="contact-info">
            <div class="contact-details">
              <div class="contact-detail">
                <Image src={mailIcon} alt="" class="contact-icon" />
                <p class="info">info@pactzion.com</p>
              </div>
              <div class="contact-detail">
                <Image src={locationIcon} alt="" class="contact-icon" />
                <p class="info">
                  Kasanchis, Bloom Tower, Addis Ababa, Ethiopia
                </p>
              </div>
              <div class="contact-detail">
                <Image src={phoneIcon} alt="" class="contact-icon" />
                <p class="info">+251 91 234 5678 | +251 91 170 7713</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <iframe
        title="GoogleMap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d246.28255800777376!2d38.768661538293124!3d9.01615212859214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b8598186f04e1%3A0x488636c1b82c1cb8!2sBloom%20Tower!5e0!3m2!1sen!2set!4v1707736517536!5m2!1sen!2set"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        class="map"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </main>
  <Footer />
  <script src="../scripts/main.js"></script>
</Layout>
