---
// Component imports
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

// Stylesheet imports
import "../styles/pages/index.scss";

// Asset imports
import fbIcon from "../assets/icons/fb-icon.svg";
import featuredIcon from "../assets/icons/featured-icon.svg";
import inIcon from "../assets/icons/in-icon.svg";
import line from "../assets/icons/line.svg";
import ytIcon from "../assets/icons/yt-icon.svg";

import car1 from "../assets/car-1.png";
---

<Layout title="PactZion - A leading global trader in Ethiopia">
  <Header />

  <main>
    <!-- Hero Section -->
    <section class="hero-section">
      <div class="container wrapper">
        <div class="section-label hero-label">
          <img src={featuredIcon.src} alt="" />
          <span>Featured Product</span>
        </div>
        <div class="car-text-box">
          <h1 class="fs-primary-header">CHANGAN</h1>
          <div class="img-wrapper">
            <img
              class="hero-car"
              src={car1.src}
              alt="Changan Deppal S7"
              width="680"
            />
          </div>
        </div>

        <div class="hero-socials">
          <img class="line-arrow" src={line.src} alt="" />

          <ul class="social-links" role="list">
            <li>
              <a href="#" class="yt-social"
                ><img src={ytIcon.src} alt="YouTube" />
              </a>
            </li>
            <li>
              <a href="#" class="in-social"
                ><img src={inIcon.src} alt="Linkedin" />
              </a>
            </li>
            <li>
              <a href="#" class="fb-social"
                ><img src={fbIcon.src} alt="Facebook" />
              </a>
            </li>
          </ul>

          <img
            class="line-arrow"
            src={line.src}
            alt=""
            style="transform: scaleY(-1);"
          />
        </div>

        <div class="bottom-box">
          <div class="hero-cta">
            <h2 class="fs-secondary-header fw-semi-bold">
              Effortless Elegance on Every Road.
            </h2>
            <Button class="btn-primary" text="Explore Changan" />
          </div>
          <div class="pactzion-info">
            <p>
              <span style="color: #53B7D2">PactZion</span> is the exclusive distributor
              of Changan Electric Vehicles in Ethiopia.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- <Button 
		class="btn-primary" 
		text="Explore Our Products" 
		/>

		<Button 
		class="btn-tertiary btn-car" 
		text="Explore Our Products" 
		/>

		<Button 
		class="btn-tertiary btn-coffee" 
		text="Explore Our Products" 
		/>

		<Button 
		class="btn-tertiary btn-rs" 
		text="Explore Our Products" 
		/>

		<Button 
		class="btn-secondary" 
		text="Explore Our Products" 
		/>

		<Button 
		class="btn-tertiary btn-white" 
		text="Explore Our Products" 
		/> -->
</Layout>
